body {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222625;
}
header h1 {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    width: 25%;
    background-color: #222625;
    color: #e4e6c3;
}

header nav {
    width: 60%;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin: 0px;
}

header nav a {
    color: #899878;
}

header nav a:hover {
cursor: pointer;
color: #e4e6c3;
}

section {
    display: flex;
    width: 100%;
    background-color: #899878;
    color: #222625;
    padding: 60px;
}

section h2 {
    text-decoration: underline;
    font-size: 40px;
    padding: 15px;
    background-color: #899878;
    color: #222625;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 50px;
}

section p {
    font-size: 20px;
    width: 50%;
    margin-left: 40px;
    margin-top: 50px;
    color: #222625;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section p a {
    color: #222625;
}
section p a:hover {
     color:#e4e6c3;
}

section ul li a u{
    color: #222625;
}

section ul li a u:hover{
    color:#e4e6c3;
}

footer {
    width: 100%;
    padding: 20px 20px;
    background-color: #222625;
    color: #899878;
}

footer h3 {
    color: #899878;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.workimg {
    margin: auto;
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./images/Screenshot\ 2022-06-10\ at\ 14-30-15\ Horiseon.png)
}

#AboutMe {
    scroll-padding-top: 20px;
}

#Work {
    scroll-padding-top: 70px;
}

#Contact {
    scroll-padding-top: 200px;
}